/* --------- adjustment --------- */
$container-width: 940px;
$red: #ed1c24;
$main: #484f59;
$text: #434953;
$grey: #e3e6e6;
/* --------- base --------- */
html {
  width: 100%;
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: $main;
}
.container {
  width: $container-width;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}
.wrapper {
  position: relative;
  // min-height: 100%;
  // height: auto !important;
  // height: 100%;
  overflow: hidden;
  min-width: $container-width;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul {
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    left: 0;
    list-style: none outside none;
  }
}
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

button{
  outline: none;
  border: none;
  background: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input, textarea {
  border: none;
}

@media screen and (max-width: 1000px) {
  // .container {
  //   width: 100%;
  //   box-sizing: border-box;
  // }
  // .wrapper {
  //   min-width: 100%;
  // }
}
