.aside {
  width: 300px;

  .subtitle {
    background-color: #e3e6e6;
    padding: 0.6em 1em;
    box-sizing: border-box;
  }
}

.aside__list {
  background-color: #f5f6f6;
  box-sizing: border-box;
  padding: 0.3em 0;

  a {
    display: block;
    box-sizing: border-box;
    padding: 0.75em 1.3em;
    font-size: 1rem;
    font-weight: 400;
    color: $text;
    transition: .25s ease;

    &:hover {
      color: $red;
    }
  }

  .current-menu-item a {
    color: $red;
  }
}
