.banner {

  .owl-prev,
  .owl-next {
    position: absolute;
    top: 57%;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: .25s ease;
    &:hover {
      background-color: $red;
      svg {fill:#fff;}
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      fill: $red;
      transition: .25s ease;
    }
  }

  .owl-prev {
    left: 0;
    svg {
      transform: translate3d(-65%, -50%, 0);
    }
  }
  .owl-next {
    right: 0;
    svg {
      transform: translate3d(-40%, -50%, 0);
    }
  }

}
.banner__list {}
.banner__item {
  height: 600px;
  background: center no-repeat / cover;

  .container {
    position: relative;
    height: 100%;
  }
}

.banner__block {
  height: 414px;
  background: center no-repeat / cover;
  .container {
    position: relative;
    height: 100%;
  }
  .banner__text {
    font-size: 2.188rem;
    bottom: 0.7em;
    left: 0.5em;
    width: 400px;
    max-width:100%;
    padding: 0.5em 0.8em;
  }
}

.banner__text {
  position: absolute;
  bottom: 3.4em;
  left: 3.4em;
  box-sizing: border-box;
  z-index: 8;
  width: 340px;
  max-width: 100%;
  color:#fff;
  background-color: rgba(38, 50, 56, 0.5);
  padding: 1.6em 1.1em;
  font-size: 1.313em;
  font-weight: 500;
  line-height: 1.67;
}
