.article {
  padding-top: 13em;
  // padding-bottom: 3em;
}
.dark {
  background-color: #f5f6f6;
}

.section {
  padding: 3.3em 0;
}


.title {
  color: #1f2124;
  font-size: 2.188rem;
  font-weight: 500;
  margin-bottom: 0.5em;
  & > .subtitle {
    display: inline-block;
    padding: 0 0.5em;
  }
}

.subtitle {
  color:$text;
  font-size: 1.313rem;
}

.text-duo {
  @extend .text;
  column-count: 2;
}

.text {
  color: $text;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5em;
  p {
    margin-bottom: 0.75em;
  }

  ul {
    padding-left: 0.5em;
    margin: 1em 0;
  }

  li{
    display: list-item;
    list-style: initial;
    list-style-position: inside;
  }
}

.all-btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: underline;
  color: $red;
  padding: 0.5em 1em;
}

.content__wrap {
  display: flex;
  justify-content: space-between;
}

.content {
  width: 620px;
  padding-bottom: 3em;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.content-img {
  padding: 3em 0;
}

.table {
  width: 100%;
  font-weight: 300;
  color: $text;
  margin: 3em 0;

  caption {
    font-size: 1.313rem;
    font-weight: 500;
    text-align:left;
    margin-bottom: 1em;
  }

  th {
    background-color: #e3e6e6;
    padding: 1em 1em;
    font-weight: 500;
    text-align: left;
  }

  td {
    padding: 1.15em 1em;
  }

  tr:nth-of-type(even) {
    background-color: #f5f6f6;
  }
}

.slider {
  padding: 2em 0;
  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: .25s ease;
    &:hover {
      background-color: $red;
      svg {fill:#fff;}
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      fill: $red;
      transition: .25s ease;
    }
  }

  .owl-prev {
    left: 0;
    svg {
      transform: translate3d(-65%, -50%, 0);
    }
  }
  .owl-next {
    right: 0;
    svg {
      transform: translate3d(-40%, -50%, 0);
    }
  }

  .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 9px;
    text-align: center;
  }
  .owl-dot {
    display: inline-block;
    margin: 0.5em;

    span {
      display: block;
      background-color: #fff;
      width: 30px;
      height: 7px;
      transition: .25s ease;
    }

    &:hover span{
      background-color: $red;
    }

    &.active span{
      background-color: $red;
    }
  }
}
.slider__item {
  height: 410px;
  background: center no-repeat;
  background-size: cover;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}


.pagination {
  text-align: center;
  padding: 0.5em 0;
  ul {
    width: 100%;
    text-align: center;
  }

  .page-numbers{
    display: inline-block;
    font-size: 0.875em;
    font-weight: 500;
    color: $main;
    padding: 3px;
    margin: 3px;
    transition: .25s ease;
    border-bottom: 3px solid transparent;

    &:hover {
      color: $red;
    }

    &.current {
      font-size: 0.875em;
      font-weight: 500;
      border-color: $red;
    }

    &.next, &.prev  {
      font-size: 0;
      width: 8px;
      height: 8px;
      border:2px solid #ccc;
      transform: rotate(-45deg);
      margin: 0;
      padding: 0;
      vertical-align: middle;
      border-top: none;
      border-left: none;

      &:hover {
        border-color: $red;
      }
    }

     &.prev  {
       border:2px solid  #ccc;
       border-bottom: none;
       border-right: none;
     }
  }
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 3em 0;
  margin: 0 -1em;
}

.gallery__item{
  display: block;
  width: 25%;
  padding: 1em;
  box-sizing: border-box;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    transition: .25s ease;
  }

  &:hover:before {
    background: rgba(239, 239, 239, 0.4);
  }
}
