.contact {
  color: $text;
  margin-bottom: 3em;
}
.contact__list {
  display: flex;
  flex-wrap:wrap ;
  margin: -0.5em -1em;
}
.contact__item {
  width: 50%;
  box-sizing: border-box;
  padding: 0.5em 1em;

  .subtitle {
    margin-bottom: 0.35em;
  }

  a {
    display: inline-block;
    padding: 0.25em 0;
    color: $text;
  }
}


.contact__address {
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5em;
  color: $text;
}

.contact__row {
  display: flex;
  justify-content: flex-end;
}

.contact__block {
  width: 32%;
}

.contact__message-block {
  width: 68%;
  padding-left: 2em;
}
.label {
  display: block;
  margin-bottom: 0.5em;
}

.textarea,
.input {
  margin-bottom: 1em;
  padding: 1em;
  background-color: white;
  border: 0.063em solid #cacccc;
  color: $text;
  width: 100%;
  box-sizing: border-box;


}

.textarea {
  height: 85%;
  display: block;
}

.button {
  background:$main;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 1em;
  font-weight: 500;
}


.screen-reader-response {
  visibility: hidden;
}


#map {
  width: 100%;
  height: 375px;
}
