.footer {
  background-color: $grey;

  .container {
    display: flex;
  }
}


.copyright {
  color: $text;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 1.5;
}





.footer__left {
  width: 25%;
  padding-top: 2em;
  padding-bottom: 1.5em;

  .logo {
    margin-bottom: 0.7em;
  }
}
.footer__middle {
  width: 50%;
  padding-top: 0.5em;
  text-align: right;

  .main-nav {
    margin-bottom: 0.5em;
  }

  .download {
    margin-right: 3em;
    background: #cacccc;
    color: $red;

    &:hover {
      background: darken( #cacccc, 5%);
    }
  }

}
.footer__right {
  width: 25%;
  padding-top: 1em;

  .tel {
    padding: 0.5em 0;

    &:before {
      content: none;
    }
  }
}

.address {
  color: $text;
  font-style: normal;
  font-size: 0.875em;
  font-weight: 300;
  margin-bottom: 1em;
}

.mail {
  color: $text;
  font-size: 0.875em;
  font-weight: 300;
  margin-bottom: 1em;
}



.footer__bottom {
  padding: 0.25em 0;
  background-color: #cacccc;
  opacity: 0.7;
  color: $text;
  font-size: 0.875em;
  a {
    color: $text;
    display: inline-block;
    font-weight: 500;
    text-decoration: underline;
    padding: 0 0.5em;
  }
  .container {
    align-items: center;
  }
}

.itloft {
  margin-left: auto;
}

.error-page {
  padding-top: 13em;
}
.error {
  display: flex;
  min-height: 550px;
  align-items: center;
  background: url('/img/bg/404.png') right bottom no-repeat;

}

.error__num {
  font-size: 6.25rem;
  font-weight: 500;
  line-height: 0.28;
  padding-right: 0.5em;
}

.error__text {
  color: $text;
  width: 250px;
  max-width: 100%;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;

  a {
    color: $red;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;
  }
}
