.header {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;

  .tel {
    margin-left: auto;
  }
  .logo {
    margin-right: 1.7em;
  }

  .main-nav a {
    border-bottom: 3px solid transparent;
    padding: 1em 1em 0.8em;
    border-bottom: 3px solid transparent;
    &:hover {
      background: $red;
      color: #fff;
      box-sizing: border-box;
    }
  }
  .current-menu-item a {
    border-color: $red;
  }
}

.header__row {
  display: flex;
  align-items: center;
  padding: 1.8em 0;
}

.logo {
  width: 130px;
  height: 50px;
  display: block;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.company-name {
  font-size: 1.313em;
  font-weight: 700;
}

.tel {
  font-size: 1.313em;
  font-weight: 500;
  display: block;
  color: $main;
  white-space: nowrap;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right:0.5em;
    background: url('/img/icons/phone.svg') center no-repeat;
    background-size: contain;
  }
}


.header__nav {
  background: $grey;
  display: flex;
  align-items: center;
  margin-bottom: -1.65em;
  .download {margin-left: auto;}
}


.main-nav {
  ul {
    display: flex;
  }
  a {
    display: block;
    font-size: 1em;
    color: $main;
    font-weight: bold;
    line-height: 1.5;
    padding: 1em 1.15em;
    transition: .25s ease;

  }
}

.download {
  background: $main;
  padding: 1.07em 1.3em;
  color: #fff;
  font-weight: 500;
  text-decoration: underline;
  transition: .25s ease;
  display: inline-block;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    background: url('/img/icons/pdf.svg') center no-repeat;
    background-size: contain;
    margin-right: 1em;
  }

  &:hover {
    background: darken($main, 5%);
  }
}
