.news {
  padding: 3em 0;
  .news__item {
    width: 33.33%;
  }
}
.news__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.75em;
}
.news__item {
  padding: 0.75em;
  width: 50%;
  box-sizing: border-box;
}

.news__link {
  width: 100%;
  display: block;
  background: center no-repeat;
  background-size: cover;
  position: relative;
  color: $main;

  &:hover .news__title span {
    text-decoration: none;
    color: $red;
  }
}

.news__img {
  height: 0;
  padding-bottom: 63%;
  background: center no-repeat / cover;
  margin-bottom: 1em;
}

.news__date {
  color: rgba(67, 73, 83, 0.7);
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1em;
}

.news__title span{
  color: #434953;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: underline;
  transition: .25s ease;
}
