.product {
  padding: 3.2em 0;
  .text-duo {
    margin-bottom: 3em;
  }
}
.product__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.75em;
}
.product__item {
  padding: 0.75em;
  width: 33.33%;
  box-sizing: border-box;
}

.product__link {
  height: 185px;
  width: 100%;
  color: $main;
  display: block;
  background: center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;

  &:after {
    content: 'Подробнее';
    display: block;
    width: 100%;
    position: absolute;
    bottom: -23%;
    text-align: center;
    font-size: 1em;
    box-sizing: border-box;
    padding: 1em;
    background: $red;
    color: #fff;
    transition: .25s ease-in-out;
  }

  &:hover:after {
    bottom: 0;
  }
}

.product__title {
  display: block;
  font-size: 1.313em;
  font-weight: 500;
  line-height: 1.33;
  padding: 1em;
}
