
.search-btn {
  display: block;
  width: 18px;
  height: 18px;
  padding: 1em;

  svg {
    max-width: 100%;
    max-height: 100%;
  }

  &:hover .search-icon { fill: $red; }
}

.search-icon {
  fill: $main;
  transition: .25s ease;
}

.search {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  z-index: 10;
  transition: .3s ease;

  .container {
    max-width: 620px;
    top: 15%;
    z-index: 1;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:rgba(245, 246, 246, 0.95);
}
.search__form {
  display: flex;
}
.search__input {
  padding: 1em;
  background-color: white;
  border: 0.063em solid #cacccc;
  color: $text;
  width: 100%;
  box-sizing: border-box;
}
.search__submit {
  width: 60px;
  background:$main url('/img/icons/search.svg') center no-repeat;
  background-size: 40%;
  cursor: pointer;
}

.search-block {
  .search {
    visibility: visible;
    opacity: 1;
  }
}


.result {
}
.result__list {
  padding: 1.5em 0;

  .subtitle {
    text-decoration: underline;
    margin-bottom: 0.5em;
  }

  li {
    padding: 1em 0;
  }

  a {
    display: block;
    &:hover {
      .subtitle{
        color:$red;
        text-decoration: none;
      }
    }
  }
}
