.service {
  padding: 3.3em 0;
  background-color: white;
}
.service__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service__item {
  width: 49%;
  box-sizing: border-box;
  margin-bottom: 1.2em;
  background: center no-repeat;
  background-size: cover;
  overflow: hidden;
}

.service__block {
  margin-top: 49%;
  background-color:rgba(245, 246, 246, 0.8);
  padding: 1.5em 1.2em;
  box-sizing: border-box;
  height: 60%;
}
.service__title {
  color: $text;
  font-size: 1.313em;
  font-weight: 500;
  line-height: 1.25em;
  margin-bottom: 1em;
}
