footer.footer
  .container
      .footer__left
        a(href="/" ).logo
          img(src="/img/icons/logo.svg")
        p.copyright ООО «Выборгский машиностроительный завод»
      .footer__middle
        nav.main-nav: ul
            each item in ['Продукция', 'Услуги', 'О заводе', 'Контакты']
              li: a(href="javascript:;")= item
        a(href="").download Каталог продукции ВМЗ
      .footer__right
        a(href="tel:+7 (911) 242-30-64").tel +7 (911) 242-30-64
        address.address
          p Ленинградская область,
          p г. Выборг, Приморское шоссе, 2Б
        a(href="mailto:info@vibmash.com").mail info@vibmash.com

  .footer__bottom
    .container
      p © 2016 ООО «ВМЗ»
        a(href="javascript:;") Политика конфиденциальности
      a(href="javascript:;").itloft
        img(src="/img/icons/itloft_logo.svg" alt="itloft")
