head
  meta(http-equiv = 'Content-Type', content = 'text/html; charset=utf-8')
  meta(http-equiv="Content-Language" content="ru")
  meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
  meta(name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1")

  title ВМЗ
  link(rel='stylesheet' type='text/css' href='css/styles.css')
  script(src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript")
