header.header
  .search
    .container
      .title Поиск
      form.search__form
        input(type="text" placeholder="Поиск...").search__input
        button.search__submit
  .container
    .header__row
      a(href="/" ).logo
          img(src="/img/icons/logo.svg")
      .company-name Выборгский Машиностроительный Завод
      a.tel(href="tel:+7 (911) 242-30-64") +7 (911) 242-30-64
    .header__nav
      nav.main-nav: ul
        each item in ['Продукция', 'Услуги', 'О заводе', 'Контакты']
          li: a(href="javascript:;")= item
      a(href="javascript:;").search-btn
        <svg xmlns="http://www.w3.org/2000/svg" class="search-icon" width="77.703" height="76.96" viewBox="0 0 77.703 76.96"><path d="M56.488 47.362c4.945 4.62 9.836 9.097 14.61 13.695 1.905 1.838 3.856 3.76 5.234 5.984 1.662 2.687 2.243 5.98-.763 8.086-2.778 1.945-6.1 2.873-9.155.066-5.643-5.18-11.37-10.275-16.863-15.61-2.088-2.028-3.62-2.34-6.43-1.075-16.102 7.25-34.125-.174-40.917-16.57-6.34-15.304 1.503-33.687 16.95-39.72C35.602-4.205 53.586 3.77 59.532 20.346c3.343 9.32 2.084 18.35-3.045 27.017zM31.023 11.035c-10.686-.063-19.46 8.478-19.647 19.128-.192 10.865 8.542 19.862 19.36 19.946 10.6.08 19.508-8.586 19.693-19.16.19-10.847-8.584-19.85-19.407-19.915z"/></svg>

      a(href="").download Каталог продукции ВМЗ
