include ./_mixins

doctype html
html(lang="ru-RU")
  include ./_head

  body
    .wrapper
      include ./_header

      main.maincontent
        block main

    include ./_footer

    script(src="/js/vendor/vendor.js")
    script(src="/js/script.js")
