mixin news(img, title)
  li.news__item
    a(href="javascript:;" ).news__link
      .news__img(style="background-image:url('/img/bg/img-"+img+".png')")
      .news__date 4 июля 2016
      .news__title: span !{title}

mixin product(img, text)
  li.product__item
    a(href="javascript:;" class="product__link" style="background-image: url('/img/bg/service-"+ img +".png');")
      span.product__title= text

mixin aside(title, list)
  aside.aside
    .subtitle= title
    ul.aside__list
      each item in list
        li: a(href="javascript:;")= item


mixin row(list)
  tr
    each item in list
      td= item

mixin hrow(list)
  tr
    each item in list
      th= item
