.pagination
  a(href="javascript:;" class="prev page-numbers")
  each item, n in ['1', '2', '13', '14', '5']
    a(href="javascript:;" class="page-numbers" + ((n == 1) ? ' current' : ""))=item
  a(href="javascript:;" class="next page-numbers")


