extend ./_includes/_layout

block main
  article.error-page.dark
    .container
      section.error
        .error__num 404
        .error__text
          p Неверно набран адрес или такой страницы на сайте не существует
          p: a(href="/") Вернуться на главную
