extend ./_includes/_layout

block main
  section.banner
    div(class="banner__block" style="background-image:url('/img/bg/bg-2.png')")
      .container
        .banner__text О заводе

  section.section
    .container
      .content__wrap
        .content
          .text Выборгский Машиностроительный Завод, созданный на базе Выборгского Судостроительного Завода, имеет своей целью производство продукции по импортозамещению. С 01.09.2014 года завод производит кабельные лотки, кабельные лестницы, элементы приварного насыщения, разработанных по своим чертежам и чертежам заказчика. Освоено производство газоводонепроницаемых вентиляционных крышек, электрических шкафов и пультов. На всю перечисленную продукцию получены сертификаты РС.
          .content-img
            img(src="/img/bg/bg-2.png")
          .text Выборгский Машиностроительный Завод, созданный на базе Выборгского Судостроительного Завода, имеет своей целью производство продукции по импортозамещению. С 01.09.2014 года завод производит кабельные лотки, кабельные лестницы, элементы приварного насыщения, разработанных по своим чертежам и чертежам заказчика. Освоено производство газоводонепроницаемых вентиляционных крышек, электрических шкафов и пультов. На всю перечисленную продукцию получены сертификаты РС.

          .slider
            ul.slider__list
              each item in ['1', '2', '3', '4', '5']
                li(class="slider__item" style="background-image:url('/img/bg/img-"+ item +".png');")

        +aside('О заводе', ['История', 'Станочный парк', 'Территория', 'Сертификаты', 'Пресса о нас'])
