extend ./_includes/_layout

block main
  article.article.dark
    section.contact
      .container
        .title Контакты

        ul.contact__list
          li.contact__item
            .subtitle Адрес:
            address.contact__address Ленинградская область, г. Выборг, Приморское шоссе, 2Б (территория ОАО «ВСЗ»)

          li.contact__item
            .subtitle Телефоны:
            p: a(href="tel: +7 (81378) 2-37-35") +7 (81378) 2-37-35
            p: a(href="tel: +7 (911) 242-30-64") +7 (911) 242-30-64

          li.contact__item
            .subtitle Режим работы:
            p Пн-Пт 9:00-18:00

          li.contact__item
            .subtitle E-mail:
            p: a(href="mailto:info@vibmash.com") info@vibmash.com

    section.maps
      #map()

    section.section
      .container

        .title Задать вопрос
        form.contact__form
          .contact__row
            .contact__block
              label.label(for="name") Ваше имя
              input.input(type="text" name="name" id="name")

              label.label(for="mail") Ваш e-mail
              input.input(type="mail" name="mail" id="mail" )

              label.label(for="tel") Ваш телефон
              input.input(type="text" name="tel" id="tel")

            .contact__message-block
              label.label(for="message") Ваше сообщение
              textarea.textarea(name="message" id="message")
          .contact__row
            button.button Отправить
