extend ./_includes/_layout

block main
  section.banner
    ul.banner__list
      each item in ['1', '2', '3']
        li(class="banner__item" style="background-image:url('/img/bg/bg-"+ item +".png');")
          .container
            .banner__text Производство, поставка и сервисное обслуживание палубного судового оборудования

  section.section
    .container
      .title ООО «ВМЗ»
      .text-duo Выборгский Машиностроительный Завод, созданный на базе Выборгского Судостроительного Завода, имеет своей целью производство продукции по импортозамещению. С 01.09.2014 года завод производит кабельные лотки, кабельные лестницы, элементы приварного насыщения, разработанных по своим чертежам и чертежам заказчика. Освоено производство газоводонепроницаемых вентиляционных крышек, электрических шкафов и пультов. На всю перечисленную продукцию получены сертификаты.

  section.product.dark
    .container
      .title Продукция
        a(href="javascript:;").all-btn Вся продукция
      ul.product__list
        +product('1', 'Крышки ВГН')
        +product('2', 'Панели палубные композитные ППКВ')
        +product('3', 'Ящики ЗИП')
        +product('4', 'Кабельные лестницыи лотки')
        +product('5', 'Воздушные головки')
        +product('6', 'Расширительные котлы')


  section.news
    .container
      .title Пресса о нас
        a(href="javascript:;").all-btn Читать все
      ul.news__list
        +news('1', 'Выборгский Машиностроительный Завод, созданный на базе Выборгского Судостроительного Завода')
        +news('2', 'Выборгский Машиностроительный Завод, созданный на базе Выборгского ')
        +news('3', 'Выборгский Машиностроительный Завод')
