extend ./_includes/_layout

block main
  section.article
    .container
      .content__wrap
        .content
          .title Пресса о нас
            a(href="javascript:;").all-btn Читать все
          ul.news__list
            +news('1', 'Выборгский Машиностроительный Завод, созданный на базе Выборгского Судостроительного Завода')
            +news('2', 'Выборгский Машиностроительный Завод, созданный на базе Выборгского ')
            +news('3', 'Выборгский Машиностроительный Завод')
            +news('1', 'Выборгский Машиностроительный Завод, созданный на базе Выборгского Судостроительного Завода')
            +news('2', 'Выборгский Машиностроительный Завод, созданный на базе Выборгского ')
            +news('3', 'Выборгский Машиностроительный Завод')
            +news('1', 'Выборгский Машиностроительный Завод, созданный на базе Выборгского Судостроительного Завода')
            +news('2', 'Выборгский Машиностроительный Завод, созданный на базе Выборгского ')


          .pagination
            a(href="javascript:;" class="prev page-numbers")
            each item, n in ['1', '2', '13', '14', '5']
              a(href="javascript:;" class="page-numbers" + ((n == 1) ? ' current' : ""))=item
            a(href="javascript:;" class="next page-numbers")


        +aside('О заводе', ['История', 'Станочный парк', 'Территория', 'Сертификаты', 'Пресса о нас'])
