extend ./_includes/_layout

block main
  article.article.dark
    section.product
      .container
        .title Продукция
        .text-duo Выборгский машиностроительный завод осуществляет полный цикл обработки листового металла по техническому заданию заказчика. Большой парк высококачественных современных станков, собственные производственные цеха, квалифицированный персонал позволяют производить большое количество качественных изделий.
        ul.product__list
          +product('1', 'Крышки ВГН')
          +product('2', 'Панели палубные композитные ППКВ')
          +product('3', 'Ящики ЗИП')
          +product('4', 'Кабельные лестницыи лотки')
          +product('5', 'Воздушные головки')
          +product('6', 'Расширительные котлы')
          +product('1', 'Крышки ВГН')
          +product('2', 'Панели палубные композитные ППКВ')
          +product('3', 'Ящики ЗИП')
          +product('4', 'Кабельные лестницыи лотки')
          +product('5', 'Воздушные головки')
          +product('6', 'Расширительные котлы')
