extend ./_includes/_layout

block main
  article.article.dark
    .container
      section.result
        .title Результаты поиска
          span.subtitle «Координатно-пробивные работы»
          .text (Найдено 4 записи)

        ul.result__list
          mixin result(title, text)
            li: a(href="javascript:;")
              .subtitle= title
              .text !{text}
          +result('Координатно-пробивные работы', 'Максимальная толщина оцинкованной или холоднокатаной стали 6 мм, нержавеющей стали 4 мм. Максимальная ширина реза 3000 мм...')
          +result('Координатно-пробивные работы', 'Максимальная толщина оцинкованной или холоднокатаной стали 6 мм, нержавеющей стали 4 мм. Максимальная ширина реза 3000 мм Максимальная толщина оцинкованной или холоднокатаной стали 6 мм, нержавеющей стали 4 мм. Максимальная ширина реза 3000 мм...')
          +result('Координатно-пробивные работы', 'Максимальная толщина оцинкованной или холоднокатаной стали 6 мм, нержавеющей стали 4 мм...')
          +result('Координатно-пробивные работы', 'Максимальная толщина оцинкованной или холоднокатаной стали 6 мм, нержавеющей стали 4 мм. Максимальная ширина реза 3000 мм...')
