extend ./_includes/_layout

block main
  article.article.dark
    section.section
      .container
        .title Услуги
        .text-duo Выборгский машиностроительный завод осуществляет полный цикл обработки листового металла по техническому заданию заказчика. Большой парк высококачественных современных станков, собственные производственные цеха, квалифицированный персонал позволяют производить большое количество качественных изделий.
    section.service
      .container
        .title Мы выполняем
        ul.service__list
          mixin service(img, title, text)
            li.service__item(style="background-image: url('/img/bg/img-"+ img +".png');")
                .service__block
                  .service__title= title
                  .text !{text}

          +service('1', 'Резка металла на гильотине', 'Максимальная толщина оцинкованной или холоднокатаной стали 6 мм, нержавеющей стали 4 мм. Максимальная ширина реза 3000 мм.')
          +service('2', 'Координатно-пробивные работы', 'Максимальная толщина оцинкованной или холоднокатаной стали 6 мм, нержавеющей стали 4 мм. Максимальная ширина реза 3000 мм.')
          +service('3', 'Перфорация металлического профиля', 'Перфорация металлической полосы и уголка. Максимальная толщина пробиваемого металла 8 мм, максимальный диаметр пробиваемого отверстия 35 мм, максимальная длина изделия 6000 мм.')
          +service('4', 'Сварочные работы', 'Размер рабочего стола 1250х2500, максимальный размер обрабатываемого листа 1250х3000 мм, толщина обрабатываемого материала 0,8–3,2 мм. Револьвер на 52 стации для просечки различного вида отверстий.')
          +service('5', 'Гибка листового металла', 'Усилие гиба 130 тонн, максимальная длина гиба 3000 мм, максимальная толщина листового металла 15 мм. Большой набор инструмента для изготовления металлических деталей различной конфигурации.')
          +service('6', 'Порошковая покраска изделий', 'Усилие гиба 130 тонн, максимальная длина гиба 3000 мм, максимальная толщина листового металла 15 мм. Большой набор инструмента для изготовления металлических деталей различной конфигурации.')
