extend ./_includes/_layout

block main
  section.article
    .container
      .content__wrap
        .content
          .title Территория

          script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=LYOUPvWGa9Hqz8prDicnpXGgKrGwQl0o&amp;width=100%&amp;height=375&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true")


        +aside('О заводе', ['История', 'Станочный парк', 'Территория', 'Сертификаты', 'Пресса о нас'])
