extend ./_includes/_layout

block main
  section.banner
    div(class="banner__block" style="background-image:url('/img/bg/bg-2.png')")
      .container
        .banner__text Панели палубные композитные ППКВ

  section.section
    .container
      .content__wrap
        .content
          .text
            p Панели палубные композитные — «плавающие полы» предназначены для судовых помещений (жилых, служебных, общественных), в качестве огнестойких, шумопоглащающих, виброснижающих и дымонепроницаемых покрытий. Используются на судах, кораблях и плавсредствах различных классов и назначений с неограниченным районом плавания.
            p Категория климатического исполнения панелей — 4.
            p Панель палубная композитная представляет собой прямоугольную конструкцию, типа «сэндвич», которая состоит из стальной панели марки Ст3 или Ст08, толщина листа 3мм и негорючей, минеральной теплоизоляционной плиты типа PAROC (Marine Floor Slab) или Rockwool (SeaRox SL) толщина теплоизоляции 50 мм. Возможно использования аналогичного наполнителя. Стальная панель по всем торцам имеет отогнутые вниз фланцы. Детали конструкции соединяются при помощи универсального клея.
            p Панели укладываются на палубном перекрытии класса «А». Панели являются огнестойкой конструкцией класса «А-60». При укладке панелей, допускается подрезать до требуемых размеров по наружным сторонам настила.
          table.table
            caption Таблица типоразмеров панелей
            +hrow(['Модель', 'Длина, мм', 'Ширина, мм', 'Высота, мм'])
            +row(['ППКВ01', '1198', '585', '53'])
            +row(['ППКВ02', '1976', '476', '53'])
            +row(['ППКВ01', '1198', '585', '53'])
            +row(['ППКВ02', '1976', '476', '53'])

          .slider
            ul.slider__list
              each item in ['1', '2', '3', '4', '5']
                li(class="slider__item" style="background-image:url('/img/bg/img-"+ item +".png');")



        +aside('Продукция', ['Крышки ВГН', 'Плавающие полы', 'Металлические таблички и шильды', 'Ящики ЗИП', 'Кабельные лестницы и лотки', 'Воздушные головки', 'Расширительные котлы', 'Расширительные котлы', 'Металлические таблички и шильды', 'Ящики ЗИП', 'Кабельные лестницы и лотки', 'Воздушные головки', 'Расширительные котлы'])
